name: 开始每日签到

on:
  workflow_dispatch:
  schedule:
    # UTC 0点30分(北京时间 8点30分/尝试更改为12：30)
    - cron: 30 4 * * *
  # 标星时触发工作流程
  watch:
    types: [started]

jobs:
  build:
   # runs-on: ubuntu-latest latest变成了24.04
    runs-on: ubuntu-24.04
    steps:
    # 从v3变成v4
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: Run checkin
        run: |
          python3 glados.py
        env: 
          GLADOS_COOKIES: "${{ secrets.GLADOS_COOKIES }}"
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
          # 从master变成了v2，变v3试试
      - uses: gautamkrishnar/keepalive-workflow@master  
